<div class="w3-row-padding ">

    <!-- <div class="w3-col w3-center">
        <img class="w3-image" style="height:160px" src="./assets/spyhunterLogo.png" />
    </div> -->


    <div class="w3-col w3-padding w3-margin-top w3-margin-bottom w3-card w3-round-large">
        <p>
            &thinsp;&thinsp; We are providing the best solutions for your business management with real-time products, customers, incomes, expenses tracking.
        </p>
        <p>
            &thinsp;&thinsp; If you want to customize this software such as add invoice, print template then please email on spyhunter272help@gmail.com or contact our company. We also customize or create new software as you wish.
        </p>
        <div class="error w3-margin-bottom">
            This software is under development so if any error occurs then please contact over development team. To see all information about contact visit our site click below button.
        </div>
          
        <button class="w3-button w3-center w3-custom-teal" ng-click="clickMoreInfo()">FOR MORE INFORMATION CLICK HERE </button>
    </div>
    <div class="w3-col w3-custom-teal w3-padding w3-margin-top">
        <h4>
          <strong>Some Common Question And Answers...</strong>
        </h4>
    </div>

    <div class="w3-col w3-padding w3-card w3-round-large">
        <p><b>
            &thinsp;&thinsp; Que 1: Shortcuts for FullScreen, Refresh and Quit?
        </b></p>
        <p>
            &thinsp;&thinsp;<strong> Ans:</strong>press ctrl+f for FullScreen, press ctrl+r for Refresh and press ctrl+q for Quit.
        </p>
    </div>
    <div class="w3-col w3-padding w3-margin-top w3-card w3-round-large">
        <p><b>
            &thinsp;&thinsp; Que 2: How to backup my data?
        </b></p>
        <p>
            &thinsp;&thinsp;<strong> Ans:</strong>Go to the setting from the menu and goto below and click on the export button and select folder where you want to store it.
        </p>
    </div>
    <div class="w3-col w3-padding w3-margin-top w3-card w3-round-large">
        <p><b>
            &thinsp;&thinsp; Que 3: How to restore my backup?
        </b></p>
        <p>
            &thinsp;&thinsp;<strong> Ans:</strong>Go to the setting from the menu and goto below and click on the import button and select backup file.
        </p>
    </div>
    <div class="w3-col w3-padding w3-margin-top w3-card w3-round-large">
        <p><b>
            &thinsp;&thinsp; Que 4: How to set invoice serial number or invoice serial number prefix?
        </b></p>
        <p>
            &thinsp;&thinsp;<strong> Ans:</strong>Go to the setting from the menu and click on edit in invoice settings and change as you want.
        </p>
    </div>
    <div class="w3-col w3-padding w3-margin-top w3-card w3-round-large">
        <p><b>
            &thinsp;&thinsp; Que 5: How to change the logo?
        </b></p>
        <p>
            &thinsp;&thinsp;<strong> Ans:</strong>Go to the setting from the menu and hover to the old logo then edit button appears click on it and select PNG file that you want to upload.
        </p>
    </div>
    <div class="w3-col w3-padding w3-margin-top w3-card w3-round-large">
        <p><b>
            &thinsp;&thinsp; Que 6: where i can view my profit/loss?
        </b></p>
        <p>
            &thinsp;&thinsp;<strong> Ans:</strong>In the overview tab(press alt+1) profit/loss chart is available and also in the total tab you can view monthly profit/loss.
        </p>
    </div>
    <div class="w3-col w3-padding w3-margin-top w3-card w3-round-large">
        <p><b>
            &thinsp;&thinsp; Que 7: How to generate a product report?
        </b></p>
        <p>
            &thinsp;&thinsp;<strong> Ans:</strong>press alt+1 or go to the Overview from the menu and scroll down there product report is available click on the generate button to generate a report file.
        </p>
    </div>
    <div class="w3-col w3-padding w3-margin-top w3-card w3-round-large">
        <p><b>
            &thinsp;&thinsp; Que 8: How to generate a customer report?
        </b></p>
        <p>
            &thinsp;&thinsp;<strong> Ans:</strong>press alt+1 or go to the Overview from the menu and scroll down there customer report is available click on the generate button to generate a report file.
        </p>
    </div>
    <div class="w3-col w3-padding w3-margin-top w3-card w3-round-large">
        <p><b>
            &thinsp;&thinsp; Que 9: How to generate an income/expenses report?
        </b></p>
        <p>
            &thinsp;&thinsp;<strong> Ans:</strong>press alt+1 or go to the Overview from the menu and scroll down there income/expenses report is available click on the generate button to generate a report file.
        </p>
    </div>
    <div class="w3-col w3-padding w3-margin-top w3-card w3-round-large">
        <p><b>
            &thinsp;&thinsp; Que 10: where i can view previous months profit/loss?
        </b></p>
        <p>
            &thinsp;&thinsp;<strong> Ans:</strong>In the overview tab(press alt+1) on the top left corner MM and YYYY is available select MM and YYYY that you want to view.
        </p>
    </div>
    <div class="w3-col w3-padding w3-margin-top w3-card w3-round-large">
        <p><b>
            &thinsp;&thinsp; Que 11: How to add/remove fields from a customer form/table?
        </b></p>
        <p>
            &thinsp;&thinsp;<strong> Ans:</strong>Go to Customer(press alt+2) from the menu and click on setting icon available in the top right corner then click on the checkbox that you want to add or remove.
        </p>
    </div>
    <div class="w3-col w3-padding w3-margin-top w3-card w3-round-large">
        <p><b>
            &thinsp;&thinsp; Que 12: How to add/remove fields from a product form/table?
        </b></p>
        <p>
            &thinsp;&thinsp;<strong> Ans:</strong>Go to Products(press alt+3) from the menu and click on setting icon available in the top right corner then click on the checkbox that you want to add or remove.
        </p>
    </div>
    <div class="w3-col w3-padding w3-margin-top w3-card w3-round-large">
        <p><b>
            &thinsp;&thinsp; Que 13: How to add/remove products category?
        </b></p>
        <p>
            &thinsp;&thinsp;<strong> Ans:</strong>Go to Products(press alt+3) from the menu and click on setting icon available in the top right corner and add or remove products category as you want.
        </p>
    </div>
    <div class="w3-col w3-padding w3-margin-top w3-card w3-round-large">
        <p><b>
            &thinsp;&thinsp; Que 14: How to add/remove extra information from the invoice?
        </b></p>
        <p>
            &thinsp;&thinsp;<strong> Ans:</strong>Go to the Invoice(press alt+4) and go to the new invoice(press ctrl+i) and click on setting icon available in the top right corner then click on the checkbox that you want to add or remove.
        </p>
    </div>
    <div class="w3-col w3-padding w3-margin-top w3-card w3-round-large">
        <p><b>
            &thinsp;&thinsp; Que 15: How to add/remove fields from an invoice table?
        </b></p>
        <p>
            &thinsp;&thinsp;<strong> Ans:</strong>Go to Invoice(press alt+4) and click on setting icon available in the top right corner then click on the checkbox that you want to add or remove.
        </p>
    </div>
    <div class="w3-col w3-padding w3-margin-top w3-card w3-round-large">
        <p><b>
            &thinsp;&thinsp; Que 16: How to add/remove expense category?
        </b></p>
        <p>
            &thinsp;&thinsp;<strong> Ans:</strong>Go to Expenses(press alt+5) from the menu and click on setting icon available in the top right corner and add or remove expense category as you want.
        </p>
    </div>
</div>