<div class="w3-row">

    <div class="controlTopHome w3-col w3-margin-bottom  ">

        <div class="w3-card w3-custom-teal w3-padding">

            <table>
                <tr>
                    <td style="width:80%">
                        <button class="w3-button  w3-light-grey" ng-click="print()">PRINT</button>
                    </td>

                    <td>
                        <input class="w3-input w3-border w3-margin-right" style="width: 80px" ng-change="generateReports()" ng-model="filter.mm"
                            type="number" placeholder="MM" min="1" max="12" />
                    </td>

                    <td>
                        <input class="w3-input w3-border w3-margin-right" style="width: 80px" ng-model="filter.yyyy" ng-change="generateReports()"
                            type="number" placeholder="YYYY" min="1890" max="9999" />
                    </td>
                    <td>
                        <button class="w3-button  w3-light-grey w3-round-xlarge w3-margin-left" ng-click="generateReports()">Generate
                            Reports
                        </button>
                    </td>
                </tr>

            </table>

        </div>

    </div>




    <div class="print-view-bottom w3-padding ">

        <div class="w3-col  ">
            <span class="w3-right">
                <strong>
                    <button class="w3-button w3-grey" ng-disabled="filter.offset<=0" ng-click="clickPrev()">&lt;</button>
                    <span class="w3-margin-left w3-margin-right">{{filter.offset}}</span>
                    <button class="w3-button w3-grey " ng-disabled='!filter.isNext' ng-click="clickNext()">&gt;</button>
                </strong>
            </span>
            </strong>
        </div>


        <!-- store info -->

        <div class="w3-col l12 w3-card w3-custom-teal w3-margin-top  w3-center w3-padding">

            <!-- <img class="w3-image " src="./assets/spyhunterLogo.png" style="max-width: 250px;" /> -->
            <b><big><big>{{storeInfo.storename}}</big> </big>
                <span ng-show=" storeInfo.area!='' || storeInfo.city!='' || storeInfo.state!='' || storeInfo.pincode!='' "><br/></span>
                <small>
                    <span ng-show="storeInfo.area!=''">{{storeInfo.area}}</span>
                    <span ng-show="storeInfo.city!=''">, {{storeInfo.city}}</span>
                    <span ng-show="storeInfo.state!=''"> ,{{storeInfo.state}}</span>
                    <span ng-show="storeInfo.pincode!=''"> - {{storeInfo.pincode}}</span>

                    <span ng-show="storeInfo.gstin!='' || storeInfo.phno!=''"><br/></span>
                    <span ng-show="storeInfo.gstin!='' "> GSTIN :- {{storeInfo.gstin}}</span>
                    <span ng-show="storeInfo.phno!=''"> &nbsp;&nbsp;MO :- +91 {{storeInfo.phno}}</span>
                </small>
            </b>

        </div>


        <!-- reports info -->
        <div class="w3-col">


            <div class=" w3-margin-top" ng-if='reports'>


                <!-- Overview -->
                <div class="w3-border w3-card w3-padding w3-custom-gray-text">

                    <div class="overview-cal-div w3-center" style="    margin: 50px;">
                        <span class="income-label w3-button"> {{overView.income.toFixed(2)}} Rs./- </span>

                        -

                        <span class="expance-label w3-button"> {{overView.expance.toFixed(2)}} Rs./- </span>

                        =

                        <span class="total-label w3-button">{{(overView.income-overView.expance).toFixed(2)}} Rs./-</span>

                    </div>

                </div>

                <!-- Expance info -->
                <div class="w3-border w3-margin-top w3-card w3-padding w3-custom-gray-text">

                    <div class="w3-center">
                        <h2><strong> Expense Info</strong></h2>
                    </div>

                    <table class="w3-table-all w3-centered w3-hoverable">

                        <tr class="w3-custom-teal">
                            <th class="w3-center" width="10%">Id</th>
                            <th width="27%">Description</th>
                            <th width="23">Ref. Number</th>
                            <th width="14">Price</th>
                        </tr>

                        <tr ng-repeat="row in reports.expance  track by $index" ng-if="row">
                            <td class="w3-center" width="10%">{{$index+1}}</td>
                            <td width="27%" class="tooltip">{{row.description.substr(0, 40)}}...
                                <br/>
                                <span class="tooltiptext">
                                    {{row.description}}
                                </span>
                            </td>

                            <td width="23%">{{row.refno}}</td>
                            <td width="14%">{{row.price}}</td>

                        </tr>

                    </table>

                    <div class="w3-padding w3-center" ng-show="reports.expance.length<=0">
                        No Expense Found ...
                    </div>


                </div>

                <!-- invoice info -->
                <div class="w3-border w3-margin-top w3-card w3-padding w3-custom-gray-text">

                    <div class="w3-center">
                        <h2><strong>Income Info</strong></h2>
                    </div>

                    <table class=" w3-table-all w3-hoverable w3-centered ">

                        <tr class="w3-custom-teal">
                            <th>Sr.No</th>
                            <th>Customer Name</th>
                            <th>Mobile No.</th>
                            <th>GST(%)</th>
                            <th>Dis.(%)</th>
                            <th>Total</th>
                            <th>Created_At</th>
                        </tr>

                        <tr ng-repeat="invoiceRow in reports.income track by $index " ng-if='invoiceRow '>
                            <td>{{invoiceRow.srno}}</td>
                            <td>{{invoiceRow.name}}</td>
                            <td>{{invoiceRow.phno}}</td>
                            <td>{{invoiceRow.gst}}</td>
                            <td>{{invoiceRow.discount}}</td>

                            <td>{{invoiceRow.total}}</td>
                            <td>
                                <small> {{invoiceRow.created_at}}</small>
                            </td>
                        </tr>

                    </table>



                    <div class="w3-padding w3-center" ng-show="reports.income.length<=0">
                        No Income Found ...
                    </div>

                </div>

            </div>


        </div>

    </div>


</div>