<div class="w3-row">

    <div class="controlTopHome w3-col w3-margin-bottom  ">

        <div class="w3-card w3-custom-teal w3-padding">

            <table>
                <tr>
                    <td style="width:80%">
                        <button class="w3-button  w3-light-grey" ng-click="print()">PRINT</button>
                    </td>

                    <td>
                        <input class="w3-input w3-border w3-margin-right" style="width: 80px" ng-change="generateReports()" ng-model="filter.mm"
                            type="number" placeholder="MM" min="1" max="12" />
                    </td>

                    <td>
                        <input class="w3-input w3-border w3-margin-right" style="width: 80px" ng-model="filter.yyyy" ng-change="generateReports()"
                            type="number" placeholder="YYYY" min="1890" max="9999" />
                    </td>
                    <td style="color:white;padding-left: 10px;padding-right: 10px">
                        <strong>IN</strong>
                    </td>
                    <td>
                        <select class="" ng-change="getProductsRepoToDatabase()" style="padding: 7px;border-radius: 5px;" ng-model="filter.catagory"
                            ng-change="changeFilterData()" ng-options="x for x in productCategory">
                            <option value="">Select Category</option>
                        </select>
                    </td>
                    <td>
                        <input type="text" class="w3-input  " ng-change="getProductsRepoToDatabase()" style="width: 250px;
                                display: inline-block;" placeholder="Search Products ..." ng-model="filter.searchInput"
                        />
                    </td>
                    <td>
                        <button class="w3-button  w3-light-grey w3-round-xlarge w3-margin-left" ng-click="generateReports()">Generate
                            Reports
                        </button>
                    </td>
                </tr>

            </table>

        </div>

    </div>




    <div class="print-view-bottom w3-padding ">

        <div class="w3-col  ">
            <span class="w3-right">
                <strong>
                    <button class="w3-button w3-grey" ng-disabled="filter.offset<=0" ng-click="clickPrev()">&lt;</button>
                    <span class="w3-margin-left w3-margin-right">{{filter.offset}}</span>
                    <button class="w3-button w3-grey " ng-disabled='!filter.isNext' ng-click="clickNext()">&gt;</button>
                </strong>
            </span>
            </strong>
        </div>


        <div class="w3-col l12 w3-border w3-margin-top hide-print" style="overflow-y: auto;max-height: 200px">

            <div class="w3-col l3 w3-center" ng-repeat="productRow in products ">
                <div class="block-serach-result" ng-click="selectProducIntoSearchData(productRow)">
                    <span>{{productRow.name}}</span>
                    <br/>
                    <span>
                        <small ng-class="{ 'product-warnings': productRow.qty<=0 }">Rs. {{productRow.price}}/- &nbsp;&nbsp;
                            qty : <span>{{productRow.qty}} </span> </small>
                    </span>
                </div>
            </div>

        </div>


        <!-- store info -->
        <div class="w3-col">

        </div>

        <!-- reports info -->
        <div class="w3-col">

            <div class="w3-border w3-margin-top" ng-repeat="row in  reports track by $index " ng-if='reports'>

                <!-- customer info -->
                <div class="w3-padding w3-custom-gray-text">

                    <div>
                        <span>
                            <b>Product Name :-</b> {{row.product.name}}<br/>
                        </span>
                        <span class="w3-margin-right " ng-if="row.product.barcode!=''">
                            <b>Barcode :- </b> {{row.product.barcode}}
                        </span>
                        <span class="w3-margin-right " ng-if="row.product.category!=''">
                            <b>Category :-</b> {{row.product.category}}
                        </span>
                        <span class="w3-margin-right ">
                            <b>Qty <small>(in Stock)</small> :- </b> {{row.product.qty}}
                        </span>
                        <span class="w3-margin-right " ng-if="row.product.gst!=''">
                            <b>GST :-</b> {{row.customer.gst}}
                        </span>
                        <span class="w3-margin-right ">
                            <b>Selling Price :-</b> {{row.customer.price}}
                        </span>
                        <span class="w3-margin-right ">
                            <b>Buying Price :-</b> {{row.customer.bprice}}
                        </span>

                    </div>



                </div>

                <!-- invoice info -->
                <div class="w3-padding" ng-if='row.inInvoice.length>0'>

                    <table class="w3-table-all  w3-hoverable w3-centered">

                        <tr class="w3-custom-teal">
                            <th width="100px">Sr.No</th>
                            <th>Customer Name</th>
                            <th>Phone Num.</th>
                            <th>Invoice Price</th>
                            <th>Qty</th>
                        </tr>

                        <tr ng-repeat="row in row.inInvoice  track by $index ">
                            <td width="100px">{{row.srno}}</td>
                            <td>{{row.name}}</td>
                            <td>{{row.phno}}</td>
                            <td>{{row.price}}</td>
                            <td>{{row.qty}}</td>
                        </tr>

                    </table>

                </div>

            </div>


        </div>

    </div>


</div>